params {
    bushman_r_container = "${projectDir}/containers/bushman_runtime.sif"
    outdir = ''
}
process {
    executor = 'slurm'
    queue = 'short'
    errorStrategy = 'terminate'
    withName:NORMALIZE_index_length_local { cpus=1; memory='500MB' }
    withName:CREATE_demux_samplesheet_local { cpus=1; memory='500MB' }
    withName:BCL2FASTQ_local {
        container='quay.io/nf-core/bcl2fastq@sha256:7689cdd46890c93fa9bf23633e51532961cc21131d69937b58e5987f7cb10580'
        cpus=25; memory='30GB'; time='08:00:00'; queue='medium'
    }
    withName:DEMUXING_FASTQ_local {
        container='quay.io/biocontainers/fqtk@sha256:ce643b393db794c93c1b28c6e22640cc196fe240c1f552eec35a8916efbc5f5e'
        cpus=1; memory='20GB'; time='08:00:00'; queue='medium'
    }
}
executor { queueSize=16; submitRateLimit='1/5sec'; pollInterval='15 sec'; queueStatInterval='1 min' }
singularity { enabled=true; autoMounts=true; runOptions="--cleanenv --bind ${projectDir}" }
manifest { name='bushman_fast'; version='1.2.0'; description='Original-compatible Bushman with optional compact locus pairing and sample-wise Nextflow scheduling' }
includeConfig 'conf/bushman.config'

profiles {
    slurm { process.executor = "slurm" }
    local { process.executor = "local" }
}
