process {
    withName:BCL2FASTQ_local {
        container = './containers/bcl2fastq.sif'
    }
    withName:FASTQC_RAW {
        container = './containers/fastqc.sif'
    }
    withName:FASTQC_TRIMMED {
        container = './containers/fastqc.sif'
    }
    withName:LTRchecking {
        container = './containers/seqkit.sif'
    }
    withName:SHORTREMOVE_local {
        container = './containers/seqkit.sif'
    }
}

singularity {
    enabled = true
    runOptions = "--fakeroot --bind /home/lrenteria/inspiired_nf"
    autoMounts = true
}

manifest {
  name = 'liberentaizp/inspiired_nf_optimization'
  version = '1.0.0'
  description = 'Viral integration detection pipeline on Nextflow based on INSPIIRED software.'
  author = 'Libe Renteria <liberenteria@gmail.com>'
}

report {
    enabled = true
    file = "report.html"
    report.overwrite = true
}