process {
    withName:BCL2FASTQ_local {
        container = 'quay.io/nf-core/bcl2fastq:2.20.0.422'
    }
    withName:DEMUXING_FASTQ_local {
        container = 'quay.io/biocontainers/fqtk:0.3.1--ha6fb395_3'
    }
    withName:DEMUXING_FASTQ_inspiired_like {
        container = 'containers/shortread_minimap2.sif'
    }
    withName:UMIEXTRACT_local {
        container = 'quay.io/biocontainers/umi_tools:1.1.5--py39hbcbf7aa_4'
    }
    withName:FASTQC_RAW {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:FASTQC_TRIMMED {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:SHORTREMOVE_local {
        container = 'staphb/seqkit'
    }
    withName:N_REMOVING {
        container = 'staphb/seqkit'
    }
    withName:LTRchecking_seqkit_local {
        container = 'staphb/seqkit'
    }
    withName:RCremoval_inspiired_local {
        container = 'quay.io/biocontainers/bioconductor-shortread:1.64.0--r44h77050f0_1'
    }
    withName:CREATE_KEYS_local {
        container = 'containers/shortread_minimap2.sif'
    }
    withName:FINDVECTOR_local {
        container = 'containers/shortread_minimap2.sif'
    }
    withName:DEREPLICATE_local {
        container = 'quay.io/biocontainers/bioconductor-shortread:1.64.0--r44h77050f0_1'
    }
    withName:GENOME_INDEXING_local {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
    }
    withName:ALIGNMENT_local {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
    }
    withName:ALIGNMENT_SINGLE_local {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
    }
    withName:BAM_TO_ALLSITES_local {
        container = 'quay.io/biocontainers/pysam:0.23.3--py39hdd5828d_1'
    }
    withName:BAM_TO_HITS_local {
        container = 'quay.io/biocontainers/pysam:0.23.3--py39hdd5828d_1'
    }
    withName:ANNOTATE_SITES_local {
        container = 'containers/annotation.sif'
    }
    withName:ALLSITES_TO_SITESFINAL_local {
        container = 'containers/sitesfinal_rpackages.sif'
    }
    withName:ALLSITES_TO_SITESFINAL_esherm_local {
        container = 'containers/sitesfinal_rpackages.sif'
    }
    withName:ALLSITES_TO_SITESFINAL_inspiired_local {
        container = 'containers/sitesfinal_rpackages.sif'
    }
    withName:DEDUPLICATE_local {
        container = 'containers/umi_samtools.sif'
    }
    withName:INDEX_SORT_BAM_local {
        container = 'containers/umi_samtools.sif'
    }
    withName:INSPIIRED_HITS_TO_SITESFINAL_local {
        container = 'containers/sitesfinal_rpackages.sif'
    }
}

singularity {
    enabled = true
    runOptions = "--fakeroot --bind /home/lrenteria/inspiired_nf"
    autoMounts = true
}

manifest {
  name = 'liberentaizp/inspiired_nf_optimization'
  version = '1.0.0'
  description = 'Viral integration detection pipeline on Nextflow based on INSPIIRED software.'
  author = 'Libe Renteria <liberenteria@gmail.com>'
}

report {
    enabled = true
    file = "report.html"
    report.overwrite = true
}