process {
    withName: BUSHMAN_SOURCE_PROVENANCE { cpus=1; memory='2GB'; time='00:15:00'; errorStrategy='terminate' }
    withName: BUSHMAN_VALIDATE { cpus=1; memory='2GB'; time='02:00:00'; errorStrategy='terminate' }
    withName: BUSHMAN_TRIM {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='96GB'; time='08:00:00'; queue='medium'; errorStrategy='terminate'
    }
    withName: BUSHMAN_GOLAY {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='64GB'; time='08:00:00'; queue='medium'; errorStrategy='terminate'
    }
    withName: BUSHMAN_GOLAY_SAMPLE {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='64GB'; time='08:00:00'; queue='medium'; maxForks=2; errorStrategy='terminate'
    }
    withName: BUSHMAN_BLAT {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='12GB'; time='04:00:00'; maxForks=16; errorStrategy='terminate'
    }
    withName: BUSHMAN_CALL {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='96GB'; time='24:00:00'; queue='medium'; errorStrategy='terminate'
    }
    withName: BUSHMAN_POOL {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='32GB'; time='08:00:00'; queue='medium'; errorStrategy='terminate'
    }
    withName: BUSHMAN_PLOTS {
        container = { (params.containsKey('bushman_r_container') ? params.bushman_r_container : null) ?: "${projectDir}/containers/bushman_runtime.sif" }
        cpus=1; memory='8GB'; time='01:00:00'; queue='short'; errorStrategy='terminate'
    }
}
trace { enabled=true; overwrite=true; fields='task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,read_bytes,write_bytes'; file="${params.outdir}/trace_original.tsv" }
timeline { enabled=true; overwrite=true; file="${params.outdir}/timeline_original.html" }
report { enabled=true; overwrite=true; file="${params.outdir}/execution_report.html" }
